:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}

img {
  height: 450px;
}

.card:hover {
  transition: 4s;
  transform: scale(1);
  background-color: grey;
}

.view-button {
  background-color: black;
  border-radius: 10px;
  height: 3.5rem;
  width: 100%;
  font-weight: bold;
}

.display-products {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.view-button:hover {
  background-color: white;
  color: black;
}
