:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}

img {
  height: 450px;
}

.Imgsrc:hover {
  transition: 4s;
  transform: scale(1);
}

.view-button {
  background-color: black;
  border-radius: 10px;
  height: 3.5rem;
  width: 100%;
  font-weight: bold;
}

.view-button:hover {
  background-color: white;
  color: black;
}

.add-button {
  background-color: black;
  width: 100px;
  height: 3rem;
  border-radius: 10px;
  font-weight: bold;
}

.add-button:hover {
  background: white;
  color: black;
}

.checkout-button {
  background-color: black;
  width: 200px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.secure-checkout-button {
  width: 200px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.checkout-button:hover {
  background: white;
  color: black;
}

.shopping-button {
  background-color: black;
  width: 200px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.shopping-button:hover {
  background: white;
  color: black;
}

.remove-button {
  background-color: black;
  width: 150px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.remove-button:hover {
  background: white;
  color: black;
}

.payment-button {
  background-color: black;
  width: 200px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-left: 20px;
}

.payment-button:hover {
  background: white;
  color: black;
}


.col {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: -10px;
}

.delivery-form input {
  height: 3rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
  color: black;
}

.why {
  display: grid;
  grid-template-columns: auto auto;
}

.login-form {
  background-color: red;
}

.login-form input {
  background-color: rgba(220, 220, 220, 0.543);
  color: black;
  width: 350px;
  height: 2.5rem;
  margin-left: 50px;
  border-radius: 5px;
 
}

.login-button {
  background-color: black;
  width: 200px;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 110px;
}

.login-button:hover {
  background: white;
  color: black;
}

.register-form input{
  background-color: rgba(220, 220, 220, 0.543);
  color: black;
  width: 350px;
  height: 2.5rem;
  border-radius: 5px;
  margin: 10px;
}